<a href="https://colab.research.google.com/github/Rafaelalorenzini/Dados_de_chuva_INMET/blob/main/Notebook/Dados_de_chuva_INMET.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import re
import os
import pandas as pd
from collections import namedtuple
import numpy as np

In [ ]:
tabelatotaldechuva = pd.DataFrame()

for file in sorted(os.listdir('/content/drive/MyDrive/tcc/Dados INMET')):
  chuva = pd.read_csv('/content/drive/MyDrive/tcc/Dados INMET/'+str(file),sep=';', encoding='latin-1')
  chuvatotal = chuva['PRECIPITAÇÃO TOTAL, HORÁRIO (mm)']
  data = chuva['DATA (YYYY-MM-DD)']
  temperatura = chuva['TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)']
  municipio = []
  print(file)

  for i in range(0,len(chuva),1):
    municipio_ = file
    municipio.append(municipio_)  

  tabelachuva = pd.DataFrame(municipio)
  tabelachuva['chuva_total'] = chuvatotal
  tabelachuva['data'] = data
  tabelachuva['temperatura'] = temperatura
  tabelatotaldechuva = tabelatotaldechuva.append(tabelachuva)

In [ ]:
tabelatotaldechuva.to_excel('dadosdechuva.xlsx', index = False)

In [ ]:
tabelatotaldechuva

                                                      0  ... temperatura
0     INMET_S_RS_A801_PORTO ALEGRE_01-01-2014_A_31-1...  ...        25,3
1     INMET_S_RS_A801_PORTO ALEGRE_01-01-2014_A_31-1...  ...        24,6
2     INMET_S_RS_A801_PORTO ALEGRE_01-01-2014_A_31-1...  ...        24,8
3     INMET_S_RS_A801_PORTO ALEGRE_01-01-2014_A_31-1...  ...        24,2
4     INMET_S_RS_A801_PORTO ALEGRE_01-01-2014_A_31-1...  ...        24,4
...                                                 ...  ...         ...
8779  INMET_S_RS_A899_Santa Vitoria do Palmar - Barr...  ...        21,3
8780  INMET_S_RS_A899_Santa Vitoria do Palmar - Barr...  ...        21,2
8781  INMET_S_RS_A899_Santa Vitoria do Palmar - Barr...  ...        20,9
8782  INMET_S_RS_A899_Santa Vitoria do Palmar - Barr...  ...        20,6
8783  INMET_S_RS_A899_Santa Vitoria do Palmar - Barr...  ...        19,7

[2535744 rows x 4 columns]

In [ ]:
tabelachuva

                 0 chuva_total        data temperatura
0     porto alegre           0  01/01/2018        23,3
1     porto alegre           0  01/01/2018        22,6
2     porto alegre           0  01/01/2018        22,2
3     porto alegre           0  01/01/2018        22,1
4     porto alegre           0  01/01/2018        21,8
...            ...         ...         ...         ...
8755  porto alegre           0  31/12/2018        29,8
8756  porto alegre           0  31/12/2018        29,3
8757  porto alegre           0  31/12/2018        28,6
8758  porto alegre           0  31/12/2018        27,4
8759  porto alegre           0  31/12/2018        26,4

[8760 rows x 4 columns]

In [ ]:
municipio = []

for i in range(0,len(chuva),1):
  municipio_ = 'porto alegre'
  municipio.append(municipio_)

In [ ]:
len(municipio)

8760